@model Shopperholics.Models.Products
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<div class="container">
    <h1 class="main-titel">Add Product to Shop</h1>
    <form method="post" enctype="multipart/form-data" asp-action="Create">
        <div asp-validation-summary="All"></div>
        <div class="form-field">
            <label asp-for="vendor"></label>
            <select asp-for="VendorId" asp-items="ViewBag.VendorId">
                <option selected="selected" value="">Select</option>
            </select>
            <span asp-validation-for="VendorId"></span>
        </div>
        <div class="form-field">
            <label asp-for="MenuCategory"></label>

            <select id="catselect" asp-for="CategoryId" asp-items="ViewBag.ProductcatID" onchange="">
                <option selected="selected" value="" >Select</option>
            </select>
            <span asp-validation-for="CategoryId"></span>
        </div>
        <div class="form-field">
            <label asp-for="subMenuCategory"></label>
            <select asp-for="subCategoryId" asp-items="ViewBag.ProductsubcatID">
                <option selected="selected" value="">Select</option>
            </select>
            <span asp-validation-for="subCategoryId"></span>
        </div>
        <div class="form-field">
            <label asp-for="ProductType"></label>
            <select asp-for="ProductType" asp-items="Html.GetEnumSelectList<productType>()">
                <option selected="selected" value="">Select</option>
            </select>
            <span asp-validation-for="ProductType"></span>
        </div>
        <div class="form-field">
            <label asp-for="Description"></label>
            <textarea asp-for="Description"></textarea>
            <span asp-validation-for="Description"></span>
        </div>

        <div class="form-field">
            <label asp-for="Price"></label>
            <input asp-for="Price" />
            <span asp-validation-for="Price"></span>
        </div>

        <div class="form-field">
            <label asp-for="ProductPhoto"></label>
            <input asp-for="ProductPhoto" type="file" />
            <span asp-validation-for="ProductPhoto"></span>
        </div>
        <div class="form-field">
            <input type="submit" value="Submit" />
        </div>
    </form>
    <label id="successmessage"></label>
    
</div>
@section Scripts{
    <script>
       /* $(function () {
            $("#catselect").change(function () {
                $.ajax({
                    type: "Get",
                    url: "/Products/Createt/"+ $(this).val(),
                    success: function (data) {
                        successmessage = 'Data was succesfully captured';
                        $("label#successmessage").text(successmessage);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });
            });
        });
        $("#catselect").change(function (e) {
            e.preventDefault();
            window.location.href = '/Products/Create/' + $("#catselect").val()
        })*/
    </script>
}